.popup-div
    position: absolute
    width: 100%
    height: 100%
    button
        position: absolute
        left: 0
        width: 100%
        height: 100%
        opacity: 0
.popup-title
    color: #0F6A7C !important
    font-family: 'Libre Caslon Text', serif
.image-div
    position: relative
    width: 100%
    z-index: -1
    overflow: hidden
    img
        width: 100%
        border-radius: 25px
.under-image-div
    display: flex
    justify-content: space-between
    align-items: center
    gap: 2px
.details-div
    padding: 10px
.add-on-div
    display: flex
    flex-direction: column
    // gap: 1px
.addons-img-div
    width: 100%
    img
        width: 100%
    span
        font-size: 14px
.no-added
    background-color: #F7F7F7
    padding-top: 10px
    border-radius: 0 0 25px 25px

.allergies-icons-div
    padding: 10px 0
    display: flex
    flex-wrap: wrap
    gap: 7px
.popup-icon-name-div
    display: flex
    align-items: center
    span
        color: #0F6A7C
        font-size: 10px
        margin-left: 3px
