
.scrollable-tabs
    .MuiTabs-root
        height: 50px
        padding-top: 2px
    button
        font-family: 'Libre Caslon Text', serif !important
        font-size: 12px
        padding-top: 0
        padding-bottom: 0

    .Mui-selected
        color: #fff !important
        background-color: #0F6A7C
.css-k62qqn-MuiTabs-root
    // padding: 5px 0 3px 0
