.fb-collection-div
    padding: 20px 0px 0 0px
.collection-title
    // background-color: #fff
    // padding: 5px 5px
    position: relative
    color: #045768
    font-size: 16px
    letter-spacing: 1px
