.fb-collection-div
    padding: 40px 0px 0 0px
.collection-title
    // background-color: #fff
    padding: 5px 5px
    border-radius: 10px 10px 0 0
    position: relative
    color: #fff
    font-size: 16px
    letter-spacing: 1px
